@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-surface-50 bg-dark-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.szh-menu {
  @apply bg-gray-900 px-4 py-2;
}
.carousel .slide { display: flex; justify-content: center; } 
.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 30dvh;
    max-width: auto;
  object-fit: contain;
}
